# see https://doc.nette.org/en/configuring
# DB settings: Bootstrap.php (getenv / docker-compose) + optional common.local.neon

application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter


latte:
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets
			# type: vite  # Uncomment to activate Vite for asset building


di:
	export:
		parameters: no
		tags: no

console:
	name: Vysočany Map
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: https://example.com